# Folders
.gradle/
build/
captures/
.idea/

# Files
*.iml
.DS_Store
local.properties

# Keystore files
*.jks
*.keystore

# Log files
*.log

# Other
.cxx/
*.hprof
.DS_Store
.externalNativeBuild/
*.ap_
*.aab
*.app
*.aar
*~